main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.container {
  height: 200px;
  overflow: scroll;
  overflow-y: hidden; 
}

.name-container {
    background: url('img/background.jpg') no-repeat;
	background-size: cover;
	background-position:center;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
  text-align: center;

  /* background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'Playfair Display', serif;
  position: relative;
	text-transform: uppercase;	
	font-size: 7vw;
	margin: 0;
	font-weight: 400; */

  font-size: 7vw;
  font-weight: 600;
  color: #f9689a;
  text-shadow: -4px -4px 0 #77caff;
}

h2 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #f5f5f5;
    text-shadow: 0 0 3px #f5f5f5,
               0 0 15px #7deaec,
               0 0 30px #7deaec;
}

#stage {
	background-color: black;
	height: 400px;
	width: 300px;
    text-align: center;
    color: #ffffff
}

#score {
    padding-top : 0;
    padding-bottom : 5px;
    border-bottom : none;
    font-family : 'Julius Sans One', sans-serif;
    font-size : 3.2em;
    text-transform : uppercase;
}

.column {
    float: left;
    width: 25%;
  }

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial, sans-serif;
    width: 100vw;
    height: 100vh;
  }
  
  #canvas {
    display: flex;
    align-items: center;
    justify-content: center;

    
    perspective: 1500px;
  }

  #pad {
    display: flex;
    flex-direction: column;
    width: 75vmin;
    border: 2vmin solid #222;
    border-radius: 2vmin;
    transform: rotateX(45deg);
  }
  
  #top-bar {
    background: #222;
    color: #eee;
    display: flex;
    justify-content: space-between;
    font-size: 4vmin;
  }
  
  #top-bar > div {
    padding: 0 7vmin;
    padding-top: 4vmin;
    position: relative;
  }
  
  #top-bar > div::before {
    content: "";
    background: pink;
    position: absolute;
    width: 10vmin;
    height: 2.5vmin;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: 0.5vmin solid white;
    border-radius: 3vmin;
  }
  
  #top-bar > div:nth-child(2)::before {
    background: skyblue;
  }
  
  #buttons {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 75vmin;
  }
  
  #buttons > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #button-up,
  #button-down {
    background: skyblue;
  }
  
  #button-left,
  #button-right {
    background: pink;
  }
  
  #center-center {
    background: #222;
    color: #eee;
    border-radius: 50%;
    border: 1vmin solid white;
    font-size: 6vmin;
    line-height: 6vmin;
    text-align: center;
    transform: scale(1.425);
  }
  
  .button.active svg path {
    stroke: blue !important;
    fill: aqua !important;
  }
  
  .button.error svg path {
    stroke: red !important;
    fill: pink !important;
  }
  
  .button.correct svg path {
    stroke: green !important;
    fill: lime !important;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }